<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <connectionStrings>
    <!--<add name="ProcurementEntities" connectionString="metadata=res://*/DAL.ProcurementModel.csdl|res://*/DAL.ProcurementModel.ssdl|res://*/DAL.ProcurementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.6;initial catalog=Procurement; user id=sa;password=abc ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="ProcurementEntities" connectionString="metadata=res://*/DAL.ProcurementModel.csdl|res://*/DAL.ProcurementModel.ssdl|res://*/DAL.ProcurementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.10.27;initial catalog=Procurement;user id=sa;password=@intech#123;MultipleActiveResultSets=True;persist security info=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ProcurementEntities" connectionString="metadata=res://*/DAL.ProcurementModel.csdl|res://*/DAL.ProcurementModel.ssdl|res://*/DAL.ProcurementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;workstation id=Procurement.mssql.somee.com;packet size=4096;user id=waqaslinks_SQLLogin_1;pwd=xs8xw9azr4;MultipleActiveResultSets=True;data source=Procurement.mssql.somee.com;persist security info=False;initial catalog=Procurement&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>

</configuration>
